// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* mixins, variables, etc. */

$grey-background: rgba(220,220,220,.25);
$grey-text: rgba(200,200,200, 1);

$margin-medium: 10px;
$padding-medium: 10px;
$boarder-radius-medium: 10px;

/* Comments show */
.comment{
  background: $grey-background;
  margin: $margin-medium;
  padding: $padding-medium;
  border-radius: $boarder-radius-medium;

  .comment-date {
    color: $grey-text;
  }

  .comment-delete {
    float: right;

    a:hover {
      text-decoration: none;
    }
  }
}